body{
  margin: 0;
  background-color: black;
}
.topBar {
  margin: 0;
  padding: 10px;
  color: #fff;
}
#welcomeMessage{
  font-size: 2em;
  color: white;
  margin-bottom: 10px;
  margin-top: 0px;
}
.openFilter{
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0;
}
.openFilter:hover{
  color: #9384FF;
}
.filterNav{
  text-align: center;
  padding-left: 0;
  display: none;
  word-spacing: 50em;
}
.filterNav li{
  display: inline;
  width: 100%;
  line-height: 40px;
}
.filterNav li a{
  font-size: 1.3em;
  color: white;
  text-decoration: none;
}
.filterNav li a:hover{
  color: #936CFF;
}
#clear{
  display: none;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #8D9191;
  margin-bottom: 10px;
}
#clear:hover{
  color: white;
}
.movieCover{
  width: 50%;
  opacity: .75;
}
.movieCover:hover{
  opacity: 1;
}

/********FOOTER*********/

.footerBar{
  background-color: white;
  margin: 0;
  padding: 15px;
  text-align: center;
}
#adminLink{
  color: #000;
  font-size: 1.3em;
  text-decoration: none;
}
#adminLink:hover{
  color: #4A15B7;
}
#upArrow{
  float: right;
  width: 10%;
  animation: bounce 2s infinite both;
}
@keyframes bounce {
  0% {transform: translate(0,-2px)rotate(-90deg);}
  50% {transform: translate(0, 2px)rotate(-90deg);}
  100% {transform: translate(0, -2px)rotate(-90deg);}
}
@media only screen and (min-width:40em){
  .movieCover{
    width: 33.3%;
  }
  .filterNav{
    word-spacing: 20px;
  }
  #upArrow{
    width:4%;
  }
}
@media screen and (min-width:64em) {
  .movieCover{
    width: 25%;
  }
  #upArrow{
    width: 2%;
  }
}
@media screen and (min-width:1200px) {
  .movieCover{
    width: 20%;
  }
}
@media screen and (min-width:1400px) {
  .movieCover{
    width: 10%;
  }
}
/*******************DETAILS PAGE*******************/

.backButton{
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: .35;
  border: 2px solid #FFF;
  padding: 5px;
  color: white;
}
.backButton:hover{
  opacity: 1;
}
.details{
  padding: 10px 10px;
  /* background: linear-gradient(to bottom right, #1A0536, #000); */
  color: #fff;
  /* padding-bottom: 30px; */
}
.MovDetailsDiv{
  padding: 10px;
  border-bottom: 3px solid #936CFF;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.detailsCov{
  max-width: 100%;
}
#addReviewDiv{
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 3px solid #936CFF;
}
#addReviewForm input{
  font-size: 1.1em;
  margin: 10px 0px;
}
#addReviewForm select{
  width: 30%;
  margin: 10px 0;
  font-size: 1em;
}
#addReviewForm textarea{
  font-size: 1em;
  height: 150px;
  margin: 10px 0;
}
#submitButton{
  font-size: 0.9em;
  padding: 4px;
  border-radius: 3px;
}
#submitButton:hover{
  background-color: #936CFF;
}
.noRev{
  text-align: center;
  font-size: 1.4em;
}
.reviewsDiv h2{
  text-align: center;
  width: 30%;
  margin: 20px auto;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}
.singleReview{
  border-bottom: 2px solid #936CFF;
  padding: 20px 10px 20px;
}
.singleReview:nth-of-type(even){
  background-color: rgba(255, 255, 255, 0.1);
}
.singleReview:last-of-type{
  border-bottom: 0px;
  padding:10px;
  margin-bottom: 0;
}
.singleReview h3, .singleReview p{
  max-width: 1000px;
  margin: 0 auto;
}
.starHolder{
  max-width: 1000px;
  margin: 7px auto;
}
.star{
  width: 20px;
  margin-right: 5px;
}
