body{
  background: linear-gradient(to bottom right, #1A0536, #000);
  min-height: 100vh;
}
#loginFormDiv{
  text-align: center;
  color: white;
  padding: 10px;
  border: 2px solid white;
}
#loginFormDiv h1{
  font-size: 1.6em;
  margin-top: 50px;
}
#loginForm{
  width: 80%;
  margin: 20px auto;
  font-size: 1.3em;
  text-align: left;
}
#user, #pass{
  width: 100%;
  margin: 15px 0px 30px;
  font-size: 1.1em;
  padding: 5px;
}
#submitButton{
  color: #000;
  margin: 20px 35%;
  width: 40%;
  font-size: 1.2em;
  padding: 5px;
  border: 0px;
  background-color: #fff;
  border-radius: 3px;
}
#submitButton:hover{
  background-color: #936CFF;
  border: 0px;
}

/*****************************INDEX*************************/
#indexBody{
  padding: 10px;
}
#indexDiv{
  color: white;
  text-align: center;
  padding: 0 10px 10px;
  margin-top: 20%;
  border: 3px white solid;
}
#indexDiv a {
  display: inline-block;
  width: 60%;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 60px;
  border: 2px solid #936CFF;
  padding: 5px;
  margin: 10px 0;
}
#indexDiv a:hover {
  color: #936CFF;
  border: 2px solid #FFF;
}
#signOut{
  color: #936CFF;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
#signOut:hover{
  color: white;
}


/****************ADD MOVIE******************/
.homeButton{
  position: absolute;
  font-size: 1.1em;
  top: 10px;
  right: 10px;
  color: #936CFF;
  text-decoration: none;
}
.homeButton:hover{
  color: white;
}
#add{
  padding: 10px;
}
#createDiv{
  color: white;
  padding: 10px;
  text-align: center;
  border: 3px solid #fff;
  margin-top: 25px;
}
#createDiv h1{
  margin-top: 0;
}
#addForm{
  text-align: center;
  font-size: 1.2em;
}
#addForm input{
  -webkit-appearance:default-button;
}
#addForm input, #addForm select{
  margin: 15px 0;
  padding: 5px;
  font-size: 0.9em;
}
#addForm select{
  font-size: 0.8em;
}
/*******************EDIT MOVIE***********************/
#selEditDiv, #deleteDiv{
  color: white;
  padding: 10px;
  text-align: center;
}
#moviesEdit:nth-of-type(even), #usersEdit:nth-of-type(even), .delItemDiv:nth-of-type(even){
  background-color: rgba(255, 255, 255, 0.1);
}
#moviesEdit, #usersEdit, .delItemDiv{
  text-align: left;
  font-size: 1.2em;
  border-bottom: 2px solid #936CFF;
}
#editName, .delName{
  display: inline-block;
  margin: 25px 10px ;
}
#editButton, #editUserButton, .delButton, .editRevButton{
  display: inline-block;
  color: white;
  text-decoration: none;
  position: absolute;
  right: 30px;
  margin-top: 5px;
}
.delButton{
  margin-top: 25px;
}
.editRevButton{
  margin-top: 45px;
}
#editUserButton{
  margin-top: 25px;
}
#editButton:hover, #editUserButton:hover{
  color: #936CFF;
}
.delButton:hover, .editRevButton:hover{
  color: #BD211E;
}
.editDiv{
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  border: 2px solid white;
}
.editMovieForm{
  text-align: left;
}
.editForm input, .editForm  select{
  margin: 15px 0;
  padding: 5px;
  font-size: 0.9em;
}
.editForm  select{
  font-size: 0.8em;
}
#submitEdit{
  color: #000;
  margin: 20px 30%;
  width: 30%;
  font-size: 1em;
  padding: 5px;
  border: 0px;
  background-color: #fff;
  border-radius: 3px;
}
#submitEdit:hover{
  background-color: #936CFF;
  border: 0px;
}
/***CREATE USER**/
#createDiv{
  color: white;
}






/*************MEDIA QUERIES******************/

@media screen and (min-width:640px) {
  #indexDiv, #loginFormDiv{
    margin-top: 10%;
  }
  #indexDiv a {
    width: 23%;
    margin: 10px;
  }
  .MovDetailsDiv{
    width: 80%;
    margin: 5% auto;
  }
  #createDiv{
    width: 80%;
    margin: 5% auto;
  }
}
@media screen and (min-width:1024px) {
  #indexDiv, #loginFormDiv{
    width: 70%;
    margin: 10% auto 0;
  }
  #indexDiv a {
    width: 18%;
    margin: 20px;
  }
  .MovDetailsDiv{
    width: 60%;
  }
  #createDiv{
    width: 60%;
    margin: 5% auto;
  }
}
@media screen and (min-width:1400px) {
  #indexDiv, #loginFormDiv{
    width: 60%;
    margin: 10% auto 0;
  }
  #indexDiv a {
    width: 20%;
    margin: 30px;
  }
}
