body{
  background: linear-gradient(to bottom right, #1A0536, #000);
  min-height: 100vh;
}
#loginFormDiv{
  text-align: center;
  color: white;
}
#loginFormDiv h1{
  font-size: 1.6em;
  margin-top: 50px;
}
#loginForm{
  width: 80%;
  margin: 20px auto;
  font-size: 1.3em;
  text-align: left;
}
#user, #pass{
  width: 100%;
  margin: 15px 0px 30px;
  font-size: 1.1em;
  padding: 5px;
}
#submitButton{
  color: #000;
  margin: 20px 35%;
  width: 40%;
  font-size: 1.2em;
  padding: 5px;
  border: 0px;
  background-color: #fff;
  border-radius: 3px;
}
#submitButton:hover{
  background-color: #936CFF;
  border: 0px;
}

/*****************************INDEX*************************/
#indexDiv{
  color: white;
  text-align: center;
  padding: 10px;
}
#indexDiv a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 15px;
  line-height: 60px;
  border: 2px solid #936CFF;
  padding: 7px;
}
#indexDiv a:hover {
  color: #936CFF;
  border: 2px solid #FFF;
}
#signOut{
  color: #936CFF;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
#signOut:hover{
  color: white;
}

/****************ADD MOVIE******************/
.homeButton{
  position: absolute;
  font-size: 1.1em;
  top: 10px;
  right: 10px;
  color: #936CFF;
  text-decoration: none;
}
.homeButton:hover{
  color: white;
}
#addMovieDiv{
  color: white;
  padding: 10px;
  text-align: center;
}
#addMovieForm{
  text-align: left;
  font-size: 1.2em;
}
#addMovieForm input{
  -webkit-appearance:default-button;
}
#addMovieForm input, #addMovieForm select{
  margin: 15px 0;
  padding: 5px;
  font-size: 0.9em;
}
#addMovieForm select{
  font-size: 0.8em;
}
/*******************EDIT MOVIE***********************/
#selEditDiv, #deleteDiv{
  color: white;
  padding: 10px;
  text-align: center;
}
#moviesEdit:nth-of-type(even){
  background-color: rgba(255, 255, 255, 0.1);
}
#moviesEdit, .delItemDiv{
  text-align: left;
  font-size: 1.2em;
  border-bottom: 2px solid #936CFF;
}
#editName, .delName{
  display: inline-block;
  margin: 25px 10px ;
}
#editButton, .delButton, .editRevButton{
  display: inline-block;
  color: white;
  text-decoration: none;
  position: absolute;
  right: 30px;
  margin-top: 5px;
}
.delButton{
  margin-top: 25px;
}
.editRevButton{
  margin-top: 45px;
}
#editButton:hover{
  color: #936CFF;
}
.delButton:hover, .editRevButton:hover{
  color: #BD211E;
}

.editMovieDiv{
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}
.editMovieForm{
  text-align: left;
}
.editMovieForm input, .editMovieForm  select{
  margin: 15px 0;
  padding: 5px;
  font-size: 0.9em;
}
.editMovieForm  select{
  font-size: 0.8em;
}
#submitEdit:hover{
  background-color: #936CFF;
}
